# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
.pubspec.lock
build/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
**/windows/flutter/generated_plugin_registrant.cc

# Linux
**/linux/flutter/generated_plugin_registrant.cc

# Web
**/web/.dart_tool/

# Metadata
.metadata

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# Misc
.DS_Store
Thumbs.db
